.main-wrapper {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 30px;
}

.hero-hidden-mobile {
  display: none;
}

@media (min-width: 1080px) {
  .main-container {
    margin: 0;
  }

  .main-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    gap: 50px;
    padding: 0 30px;
  }

  .hero-hidden-mobile {
    display: flex;
  }

  .outlet-wrapper {
    flex: 1 0 0;
    max-width: 696px;
  }
}

@media (min-width: 1439px) {
  .main-wrapper {
    gap: 100px;
    padding: 0;
  }
}
