.hero-container {
  width: 100%;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.875em 1.25em;
  gap: 30px;
  user-select: none;
}

.img-container {
  width: 260px;
  height: 210px;
  background: #f0d060;
  background: linear-gradient(
    45deg,
    rgba(240, 208, 96, 1) 21%,
    rgba(212, 175, 55, 1) 54%
  );
  border-radius: 16px;
  position: relative;
}

.border-line {
  position: absolute;
  width: 27px;
  height: 27px;
  -webkit-user-drag: none;
}

.top-left {
  top: 10px;
  left: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.portrait {
  object-fit: cover;
  display: block;
  width: 260px;
  height: 100%;
  border-radius: 16px;
  object-view-box: inset(0% -5% 20% 0%);
  -webkit-user-drag: none;
}
.hero-text {
  margin-top: 12px;
}
.hero-bio {
  text-align: center;
}

.hero-bio .name {
  font-size: 2.25rem;
  color: #000000;
  font-weight: bold;
  margin: 0;
}

.hero-bio .caption {
  max-width: 300px;
  color: #646b6e;
  font-size: 1.125rem;
  line-height: 1.1;
  margin: 0 0 1em 0;
  padding: 0 0.3125em;
}

.hero-socials ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.list-item a {
  display: flex;
  justify-content: center;
  padding: 0.375em;
  -webkit-user-drag: none;
}

@media (min-width: 810px) {
  .img-container {
    width: 240px;
    height: 284px;
  }

  .portrait {
    width: 240px;
    height: 100%;
    object-view-box: inset(0% 0% 0% 0%);
  }
}

@media (min-width: 1080px) {
  .hero-container {
    width: 344px;
    align-self: flex-start;
    position: sticky;
    top: 40px;
  }
}
