@charset "utf-8";
/* CSS Document */

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* end box-sizing reset */

:root {
  --bg: #0d1b2a;
  --sans-serif: "Josefin Sans", sans-serif;
  --text-color: #e4e4e4;

  background: var(--bg);
  font-family: var(--sans-serif);
  color: var(--text-color);
}

body {
  margin: 0;
  cursor:
    url("./assets/icons/cursor.svg") 0 0,
    default;
}
